# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs
.idea/
.vscode/
*.swp
*.swo
